@{
    ViewBag.Title = "About Us";
}


<h2>About</h2>
<p>
     Hattan Shobokshi is a Senior Software Engineer for a regional transportation company. He is responsible for developing applications on a variety of platforms including web and mobile devices. Hattan has been creating web applications exclusively in ASP.NET MVC for the last several years and continues to enjoy the platform. He is a passionate web developer that is focused delivering scalable applications that adhere to industry best practices. Hattan has is experienced in .NET technologies and has been using ASP.NET since it’s initial release. Prior to that, Hattan developed web applications on the Microsoft platform using classic ASP. His blog can be found at 
     <a href="http://www.hattanshobokshi.com">http://www.hattanshobokshi.com</a>
</p>
